
<% if signed_in? %>
<div class="row">
  <div class="col-md-8">
    <h1>Open position</h1>
  </div>
  <div class="col-md-4">
    <%= render 'shared/user_info' %>
  </div>
</div>

<% else %>
<div class="alert-warning">Dear friends, CobaOcab will be shutdown on 9 March 2014 forgood due to undisclosed reason. Thank you for the support and understanding!</div>
<h1> Open position</h1>
<% end %>

<div class="row">
  <div class="col-md-12">
      <%= render @jobs %>
  </div>
</div>

<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>

