<% if signed_in? %>
<div class="row">
  <div class="col-md-8">
    <h1> All Jobs</h1>
  </div>
  <div class="col-md-4">
    <%= render 'shared/user_info' %>
  </div>
</div>
<% else %>

<div class="jumbotron">
  <h1>Hello, students, new graduates, and employers!</h1>
  <p>Welcome to CobaOcab, a place to list jobs for students and new graduates. Get employed or help other students to get a job by placing the job advertisement here for <strong>FREE!</strong></p>
</div>
<h1> All Jobs</h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover table-condensed">
      <%= render @jobs %>
    </table>
  </div>
</div>