<div class="row">
  <div class="col-md-8">
    <h1> All Jobs</h1>
    <table class="table table-striped table-hover table-condensed">
      <%= render @jobs %>
    </table>
  </div>
  <div class="col-md-4">
    Post a job
  </div>
</div>