<footer class="footer">
  Kevin Aditya - 0430707314 - Kevin.aditya@uts.edu.au / Kevinadityauts@gmail.com
<br/>
  getdocit@gmail.com - Kevin Aditya
  <div class="socialmedia pull-right"> 
    <div class="circle">
      <a href="##">
        <img height="50px" src="http://getdocit.com/twitter.png"/>
      </a>
    </div>
    <div class="circle">
      <a href="##">
        <img height="50px" src="http://getdocit.com/facebook.png"/>
      </a>
    </div>
    <div class="circle">
      <a href="##">
        <img height="50px" src="http://getdocit.com/google.png"/>
      </a>
    </div>
    <div class="circle">
      <a href="##">
        <img height="50px" src="http://getdocit.com/linkedin.png"/>
      </a>
    </div>
  </div>
</footer>